/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #131313;
  color:wheat;
  padding: 10px;
  font-size: 60px;
}

/* Style the header links */
.header a {
  float: left;
  color: rgb(245, 237, 237);
  text-align: center;
  padding: 10px;
  text-decoration:none;
  line-height: 40px;
  border-radius: 40px;
}

/* Change the background color on mouse-over */
.header a:hover {
  
  background-color: rgb(218, 224, 250);
  color: black;
}

/* Float the link section to the right */
.header-right {
  
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: auto;
  
}

.App-header{
  background-color:rgb(212, 177, 78);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(3, 3, 3);
 }
 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: none;
  width: 25%;
  padding: 0 10px;
  float: left;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #6e6b6e;
  
}
.font{
 
  color:rgb(7, 7, 6);
  
  font-size: 60px;
}