/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #131313;
  color:wheat;
  padding: 10px;
  font-size: 60px;
}

/* Style the header links */
.header a {
  float: left;
  color: rgb(245, 237, 237);
  text-align: center;
  padding: 10px;
  text-decoration:none;
  line-height: 40px;
  border-radius: 40px;
}

/* Change the background color on mouse-over */
.header a:hover {
  
  background-color: rgb(218, 224, 250);
  color: black;
}

/* Float the link section to the right */
.header-right {
  
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: auto;
  
}

.App-header{
  background-color:rgb(212, 177, 78);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(3, 3, 3);
 }
 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: none;
  width: 25%;
  padding: 0 10px;
  float: left;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #cb71e6;
  border-radius: 20px;
  
}
.font{
 
  color:rgb(7, 7, 6);
  font-size: 60px;
}
.footer{
  background: #35bae2;
  min-height: 20vh;
  border-radius: 20px;
  align-items: center;
  margin-top: 15px;
}
.btn{
  appearance: button;
  background-color: #080808;
  color: rgb(248, 248, 248);
  cursor: pointer;
  height: 44px;
  border-radius: 20px;
  margin: 16px 0 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  margin-left: 10px;
  width: 20%;
}
.footer-note{
  text-align: center;
  margin-top: -60px;
  font-size: 40px;
  font-weight: bold;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #7f8d80;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.brand{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #cb71e6;
  border-radius: 20px;
  margin-top: 15px;
}
.bcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #cb71e6;
  border-radius: 20px;
  margin-top: 15px;
}
.bcolumn{
  float: none;
  width: auto;
  padding: 0 10px;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}
/* Remove extra left and right margins, due to padding */
.brow {margin: 0 -5px;}

/* Clear floats after the columns */
.brow:after {
  content: "";
  display: table;
  clear: both;
  
}
.dcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #cb71e6;
  border-radius: 20px;
  margin-top: 15px;
  
}
.clear{
 
}
